SIS Integration/Examples/C_SharpCanvasSISPublish/CanvasSISImport/bin/Debug/CanvasSISPublish.exe
SIS Integration/Examples/C_SharpCanvasSISPublish/CanvasSISImport/bin/Debug/CanvasSISPublish.exe.mdb
*.swp
*.pyc
localconfig.sh
API_Examples/Automation/demodata/output
API_Examples/bulk_set_course_tabs/logs
local_config.py
*.zip
*.log
