SIS Integration/Examples/C_SharpCanvasSISPublish/CanvasSISImport/bin/Debug/CanvasSISPublish.exe
SIS Integration/Examples/C_SharpCanvasSISPublish/CanvasSISImport/bin/Debug/CanvasSISPublish.exe.mdb
*.swp
*.pyc
localconfig.sh
API_Examples/Automation/demodata/output
API_Examples/bulk_set_course_tabs/logs
local_config.py
*.zip
*.log
.coverage
DogHouse1.jpg
API_Examples/import_outcomes/python/coverage_html_report
