/**********************************************
** People: Add Face Book and Learning Mode
***********************************************/
#wms_roster_controls
{
	display: block !important;
}
.wms_roster_user
{
	float: left;
	width: 124px;
	height: 180px;
	margin-right: 8px;
	margin-bottom: 8px;
	border: 1px solid #CCCCCC;
	background-color: #F8FAFB;
	color: #333333;
	padding: 4px;
}
.wms_roster_user A.avatar
{
	margin: 4px auto 0px;
	height: 110px;
	width: 110px;
}
.wms_roster_user:hover
{
	border: 1px solid #27ACD3;
	background-color: #27ACD3;
	color: #FFF;
}
.wms_roster_user:hover A
{
	color: #FFF;
}
#wms_roster_btn_learning
{
	outline: 0;
}
@media print
{
	/*Force Canvas avatar background-images to show when printed*/
	/*Works for webkit browsers like Chrome and Safari; no hack available for FF or IE*/
	A.avatar
	{
		-webkit-print-color-adjust: exact;
	}
	/*Remove urls from print mode Canvas avatar background-images to show when printed*/
	A.roster_user_name[href]:after
	{
		content: "";
	}
}
