/* 
* Hide the custom links, but make sure the first three (1-3) and last two are displayed
** Items 1-3 are Canvas links:
* 1. Ask Your Instructor a Question
* 2. Search the Canvas Guides
* 3. Report a Problem
** Next are custom links (e.g. 2 links):
* 4. Custom Link 1
* 5. Custom Link 2
** The last two are Canvas links:
* 6. Ask the Community
* 7. Request a Feature (doesn't show for students)
*/
/* First, hide all items after the first three*/
#help-dialog-options>li:nth-child(n+4){
    display:none;
}
/* Now unhide the last two */
#help-dialog-options>li:nth-child(n+6){
    display:block;
}

/* Alternatively, if you don't want to worry about additional custom links being added and 
*  messing up the unhiding of those last two, you can use the following two rules to 
*  redisplay them a bit more explicitly */
/* Hide "Ask the Community" */
#help-dialog-options a[href="http://help.instructure.com/forums/20225783-canvas-coach-q-a-site"] {
  display:block;
}
/* Hide "Request a Feature" */
#help-dialog-options a[href="http://help.instructure.com/categories/20057816-feature-request-categories"] {
  display:block;
}